@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Lugrasimo&family=Mochiy+Pop+One&family=Montserrat+Alternates:ital,wght@0,600;0,700;1,700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600&family=Nerko+One&family=Poppins:wght@200;300;400;500;600;700&family=Potta+One&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap");
@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html body {
  margin: 0px;
  padding: 0px;
}

html {
  width: 100vw;
  padding: 0px;
  margin: 0px;
}
html body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
html body header {
  width: 100wv;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../asset/background-header.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
html body header .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 15% 10%;
  box-sizing: border-box;
  background-color: rgba(15, 29, 34, 0.5490196078);
}
html body header .header-container h1 {
  font-family: "Palanquin Dark";
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  color: #f1b417;
  margin: 10px 0px;
}
html body header .header-container h5 {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  color: white;
}
html body header .header-container a {
  border: 3px solid #be8900;
  padding: 10px 25px;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  color: #be8900;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}
html body main {
  width: 100vw;
  margin: 0px;
}
html body main .fast-menu {
  width: 100%;
  background-color: #0f1d22;
  padding: 50px 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body main .fast-menu h1 {
  color: #f1b417;
  font-family: Montserrat;
  font-size: 4rem;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin: 10px;
}
html body main .fast-menu .menu-container {
  width: 100%;
  display: flex;
  max-width: 1440px;
}
html body main .fast-menu .menu-container .fast-menu-card {
  width: 20%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body main .fast-menu .menu-container .fast-menu-card img {
  height: 20%;
  max-height: 150px;
  width: auto;
}
html body main .fast-menu .menu-container .fast-menu-card p {
  color: #f1b417;
  font-family: Poppins;
  font-size: 1.2rem;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */